@model TrendyMemes.Web.Areas.Posts.ViewModels.PostCreateInputModel
<div class="container">
    <div class="row">
        <form asp-action="Create" method="post" enctype="multipart/form-data" class="col-md-8">
            <div class="row">
                <h2>Create a new post</h2>
            </div>
            <div class="row">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter the title here" />
            </div>
            <div class="row">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" class="form-control" placeholder="Enter the tags here, separated by a space" />
            </div>
            <div class="row">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" class="form-control" />
            </div>
            <br />
            <div class="row">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
