@using TrendyMemes.Web.Areas.Posts.ViewModels.Posts
@model PostEditInputModel

<div class="container card card-body">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" method="post" enctype="multipart/form-data" class="col-md-8">
                <div class="row card-title">
                    <h2>Edit post</h2>
                </div>
                <div class="row">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control w-100" placeholder="Enter the title here" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control" placeholder="Enter the tags here, separated by a space" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img class="w-100 card-img" src="@Model.ImageSrc">
        </div>
    </div>
</div>
