@model TrendyMemes.Web.Areas.Posts.ViewModels.Posts.PostsListViewModel;

<div class="container">
    <div class="row">
        @foreach (var post in Model.Posts)
        {
            @await Html.PartialAsync("_PostInList", post)
        }
    </div>
</div>
